<div>body</div>

{{#extend 'script'}}
    <script>
        alert('script section');
    </script>
{{/extend}}

{{#extend 'css'}}
    <style>
        div {
            background: red;
        }
    </style>
{{/extend}}